<%- include('partials/header', { meta:  home.meta }); %>

<main class="page--home">
    <section class="container">
        <div class="row text-center">
            <h1>Home Page</h1>
        </div>
    </section>
</main>

<%- include('partials/footer'); %>